%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[172.20.0.0/16]"
    EXTERNAL_NET: "!$HOME_NET"
    DMZ_NET: "[172.20.1.0/24]"
    INTERNAL_NET: "[172.20.2.0/24]"
    DNS_SERVERS: "[172.20.1.22]"
    HTTP_SERVERS: "[172.20.1.20]"
    SQL_SERVERS: "[172.20.2.11]"

  port-groups:
    HTTP_PORTS: "80,8080"
    SSH_PORTS: "22"
    DNS_PORTS: "53"
    SQL_PORTS: "5432"

default-log-dir: /var/log/suricata/

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            tagged-packets: yes
        - http:
            extended: yes
        - dns:
            query: yes
            answer: yes
        - tls:
            extended: yes
        - files:
            force-magic: no
        - ssh
        - flow
        - netflow
        - stats:
            totals: yes
            threads: no

  - fast:
      enabled: yes
      filename: fast.log

af-packet:
  - interface: eth0
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes

pcap-file:
  checksum-checks: auto

app-layer:
  protocols:
    http:
      enabled: yes
    tls:
      enabled: yes
    dns:
      enabled: yes
      tcp:
        enabled: yes
      udp:
        enabled: yes
    ssh:
      enabled: yes
    smtp:
      enabled: yes
    ftp:
      enabled: yes
    smb:
      enabled: yes

default-rule-path: /var/lib/suricata/rules
rule-files:
  - suricata.rules
  - /etc/suricata/rules/local.rules

classification-file: /etc/suricata/classification.config
reference-config-file: /etc/suricata/reference.config
