Port 22
ListenAddress 0.0.0.0
HostKey /run/aptl-sshd/ssh_host_ed25519_key
PidFile /run/aptl-capture/sshd.pid
AuthorizedKeysFile /run/aptl-inner/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
AllowUsers kali
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitTTY yes
PermitUserEnvironment no
AcceptEnv APTL_SESSION_ID APTL_RUN_ID APTL_TRACE_ID
ForceCommand /usr/local/bin/broker.py
Subsystem sftp internal-sftp
